@font-face {
  font-family: 'bombaram';
  src: url('../css/font/NanumGothic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NotoSansKR';
  src: url("../css/font/Lato-Black.ttf") format("truetype");
  unicode-range: U+AC00-D7A3;
}

* {
  font-family: 'bombaram', 'NotoSansKR', 굴림;
}

.headmodal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}

.headmodal button {
  outline: none;
  cursor: pointer;
  border: 0;
  background-color: #D9D9D9;
  color: white;
}

.headmodal>section {
  width: 90%;
  height: 450px;
  max-width: 460px;
  max-height: 488px;
  margin: 0 auto;
  background-color: #fff !important;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: headmodal-show 0.3s;
  overflow: hidden;
}

.headmodal>section>header {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  color: black;
  font-weight: 700;
}

.headmodal>section>header>p {

  align-items: center !important;
  justify-content: center !important;

  background-color: white !important;
  color: black;
  font-weight: 600;
  font-size: 25px;
}

.headmodal>section>header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}

.headmodal>section>main {
  width: 85%;
  height: 35%;
  margin-left: 10%;
}

.headmodal>section>footer {
  width: 100%;
  height: 43%;
  text-align: center;
  
}

.headmodal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: headmodal-bg-show 0.3s;
}

@keyframes headmodal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes headmodal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}