@font-face {
    font-family: "#{$name}";
    src: url("#{$asset-path}fonts/#{$file}.otf") format("otf"),
      url("#{$asset-path}fonts/#{$file}.ttf") format("truetype");
}


@font-face {
  font-family: "Noto Sans KR";
  src: url("/src/css/font/NotoSansKR-Regular.otf") ;
 
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("/src/public/fonts/GmarketSansTTFMedium.ttf") ;
 
}





