@font-face {
    font-family: "#{$name}";
    src: url("#{$asset-path}fonts/#{$file}.otf") format("otf"),
      url("#{$asset-path}fonts/#{$file}.ttf") format("truetype");
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("/src/public/fonts/LuckiestGuy-Regular.ttf") ;
 
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("/src/css/font/GmarketSansTTFMedium.ttf") ;
 
}

