@font-face {
    font-family: "#{$name}";
    src: url("#{$asset-path}fonts/#{$file}.otf") format("otf"),
      url("#{$asset-path}fonts/#{$file}.ttf") format("truetype");
}

@font-face {
  font-family: "Luckiest Guy";
  src: url("/src/public/fonts/LuckiestGuy-Regular.ttf") ;
 
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("/src/css/font/NotoSansKR-Regular.otf") ;
 
}

@font-face {
  font-family: "Gmarket Sans";
  src: url("/src/public/fonts/GmarketSansTTFMedium.ttf") ;
 
}

@font-face {
  font-family: "Dela Gothic One";
  src: url("/src/public//fonts/DelaGothicOne-Regular.ttf") ;
 
}

@font-face {
  font-family: "Rubik";
  src: url("/src/public/fonts/RubikMonoOne-Regular.ttf") ;
 
}